.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #FFE1F6;
    flex-grow:1
    padding:20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {margin: 0 10px;}


.ran {
    float: left;
}

.container {
    margin: 25px 40px;
}

.col {
    float: left;
    padding: 20px;
}

body {
    background-color: #FFEAFE;
}
