<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<head>
    <meta charset="UTF-8" />
    <title>Music App: Errorpage</title>
</head>
<body>
    <h1>Error Page! This is not a valid page or something else went wrong!</h1>
    <h3>Please go back and try again.</h3>
</body>
</html>