<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<head>
    <meta charset="UTF-8" />
    <title th:text="'Music App: Search Result for ' + ${searched}"></title>
</head>
<body>
    <div class="redirect">
        <a th:href="@{/}">Home</a>
    </div>
    <div class="search-titles">
        <h1 th:text="'Search results for \'' + ${searched} + '\'!'"></h1>
    </div>
    <div class="row">
        <div class="songinfo card" th:if="${song} != null" th:each="song:${searchedResult}">
            <h2 th:text="${song}" />
            <p th:text="${song.getTitle()}"></p>
            <p th:text="'By ' + ${song.getArtist()}"></p>
            <p th:text="${song.getAlbum()}"></p>
            <p th:text="${genre}"></p>
        </div>
    </div>
    <div th:if="${searchedResult} == null">
        <h2>That search term gave zero results, try again.</h2>
        <form th:action="@{/search}" method="get" class="search-bar">
            <label>Search for a song: </label>
            <input type="text" name="query" id="query"
                   placeholder="Input song title" required="required"/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>